.layout{

	&__main{

		.page4{

			&__header{

				/*.portlet1{
					&__align{
						width: 100%;
						overflow: hidden;
					}
					.zone1{
						padding-bottom: 60px;
						&__banner{
							background-color: #ff0000;
							position: relative;

							.slick-dots {
								position: absolute;
								bottom: -35px;
								@include to(movil) {
									display: block;
									bottom: -40px;
								}
							}

							.slick-dots li {
								width: 10px;
								height: 10px;
								margin: 0 7px;
								@include to(movil) {
									width: 10px;
									height: 10px;
								}
							}

							.slick-dots li button {
								width: 10px;
								height: 10px;
								
								@include to(movil) {
									width: 10px;
									height: 10px;
								}
							}

							.slick-dots li button:before {
								width: 10px;
								height: 10px;
								// border: solid 1px #ee122c;
								border: none;
								background-color: #d8d8d8;
								@include to(movil) {
									width: 10px;
									height: 10px;
								}
							}

							.slick-dots li.slick-active button:before {
								color: #869791;
								opacity: 1;
								background: transparent;
								background: #869791;
							}
							
							.banner{
								
								&__image{
									background-repeat: no-repeat;
									background-position: center center;
									//background-size: cover;

									width: 100%;
									height: 480px;

									position: relative;
									display: block;
									margin: 0 auto;

									&[data-banner1]{
										background-image: url("#{$path}/banners/home/Banner-Conoce-tu-recibo-Desktop-1920x480-general.jpg");
									}
									&[data-banner2]{
										background-image: url("#{$path}/banners/home/Banner-Conoce-tu-recibo-Desktop-1920x480-recibo_por_email.jpg");
									}
									&[data-banner3]{
										background-image: url("#{$path}/banners/home/Banner-Landing-debito-Desktop-1920x480.jpg");
									}

									&__link{
										max-width: 1200px;
										margin: 0 auto;
										height: 100%;
										position: relative;

										&.disable{
											visibility: hidden;
										}

										a{
											font: normal 400 em(18) $font1;
											position: absolute;
											bottom: 0;
											left: 0;
											margin-bottom: 100px;
											display: inline-block;
											vertical-align: top;
											color: #fff;
											background: #EE122C;
											border-radius: 32px;
											padding: 10px 40px;
											cursor: pointer;
										}
									}
								}
								
							}
						}
					}

				}

				.portlet2{
					&__align{
						width: 100%;
						max-width: 1238px;
						margin: 0 auto;
						@include to(tablet-h) {
							padding: 0 20px;
						}
						@include to(movil) {
							background-color: #f3f3f3;
							box-shadow: 0 3px 7px rgb(0 0 0 / 15%);
						}
					}
					.zone1{
						padding: 30px 0;
						@include to(movil) {
							padding: 15px 0;
						}
						&__header{
							section{
								ul{
									@include flexbox;
									@include flex-wrap(wrap);
									li{
										font: normal 300 em(16) $font1;
										color: #abaeaf;
										margin-right: 8px;
										a{
											color: #3fc3e9;
											&:hover{
												color: #3fc3e9;
											}
										}
									}
								}
							}
						}
						
					}
				}*/

			}
			
			&__main{

				.portlet1{
					&__align{
						width: 100%;
						max-width: 760px;
						margin: 0 auto;
						padding: 40px 0 70px;
						@include to(tablet) {
							max-width: 700px;
						}
						@include to(movil) {
							padding: 40px 0 30px;
						}
					}

					.zone1{
						&__header{
							@include to(movil) {
								padding: 0 30px;
							}
							hgroup{
								text-align: center;
								h2{
									font: normal 500 em(28) $font1;
									color: #000000;
									line-height: 22px;
									padding-bottom: 15px;
									
									@include to(movil) {
										font-size: em(20);
										height: auto;
										br {
											display: none;
										}
									}
								}
	
								p{
									font: normal 300 em(15) $font1;
									color: #000000;
									line-height: 22px;
									padding-bottom: 15px;
									
									@include to(movil) {
										font-size: em(14);
										height: auto;
										br {
											display: none;
										}
									}
								}
							}

							figure{
								max-width: 760px;
								width: 100%;
    						height: 180px;
								background-image: url("#{$path}/facturacion.jpg");
								background-repeat: no-repeat;
								background-position: center bottom;
								margin: 0 auto;
								//background-size: 100% 250px;
							}
							
						}
						&__main{
							padding: 70px 0 0 0;
							@include to(movil) {
								padding: 40px 0 0 0;
							}
							section{
								dl{
									display: table;
									margin-bottom: 20px;

									@include to(movil) {
										@include flexbox;
										@include flex-direction(column);
										@include align-items(center);
									}

									
									dt{
										display: table-cell;
										vertical-align: top;
										width: 80%;
										margin-left: 0px;

										/*@include to(tablet) {
											display: block;
										}*/

										&:before{
											content:none;
										}

										&.sub{
											header{
												a{
													sup{
														&:before{
															transform: rotate(0deg);
														}
													}
												}
											}
										}

										header{

											a{
												font: normal 600 em(16) $font1;
												padding: 30px 10px 30px 20px;
												margin: 0px 0;
												
												width: 100%;
												display: table;
												//background-color: #fafafa;
												background-color: #f08224;
												cursor: pointer;
	
												@include redondeado(5px, 5px, 5px, 5px);
	
												@include to(tablet) {
													padding: 27px 10px 27px 20px;
												}

												@include to(movil) {
													padding: 20px 10px 20px 20px;
												}
	
												&:hover{
													span{
														color: $color_t1;	
													}
												}
	
												span{
													
													//color: #283342;
													color: #ffffff;
													display: block;
	
													@include to(tablet) {
														font-size: em(15);
														padding-right: 20px;
													}
	
													@include to(movil) {
														font-size: em(13);
													}
													
												}
	
												sup{
													display: table-cell;
													width: 30px;
													position: static;
													@include to(tablet) {
														width: 20px;
													}
													&:before {
														@include icon(10px);
														content: "\f078";
														font-size: 14px;
														position: relative;
														top:-2px;
														//color: #2197ae;
														color: #ffffff;
														transform: rotate(270deg);
														@include transicion(all,0.1s,ease-in,0s);
														/*@include to(tablet-h) {
															left: 5px;
														}
														@include to(tablet) {
															left: 10px;
														}*/
														@include to(movil) {
															font-size: 12px;
														}
													}	
												}
												
											}

										}
										
										

										footer{
											overflow: hidden;
											max-height: 0;
											height: auto;
											@include transicion(all,0.2s,ease-in-out,0s);

											//-webkit-transition: all 0.2s ease-in-out;
											//transition: all 0.2s ease-in-out;
											opacity: 0;

											blockquote{
												padding: 20px 26px 20px 26px;
												margin: 0px;

												/*@include to(tablet) {
													padding: 10px 26px 20px 26px;
												}*/

												h3{
													font: normal 600 em(16) $font1;
													color: #000000;
													margin-bottom: 20px;
												}
	
												ul{
													padding: 0 0 0px 0px;
													margin: 0px;
													border-top: 1px solid #d5d7d8;
													
													//@extend %clearfix;
													li{
														font: normal 400 em(15) $font1;
														color: $color_t2;
														padding-left: 0px;
														margin: 0px;
														//background: url("#{$path}/pg1_vineta3.png") no-repeat left 6px;
														width: 100%;
														display: table;
	
														border-bottom: 1px solid #d5d7d8;

														@include to(movil) {
															font-size: em(13);
															//line-height: 18px;
														}
	
														a{
	
															//font: normal 600 em(16) $font1;
															//font: normal 300 em(15) $font1;
															padding: 30px 10px 30px 20px;
															margin: 0px 0;
															
															width: 100%;
															display: table;
															//background-color: #fafafa;
															//background-color: #f08224;
															cursor: pointer;

															@include to(movil) {
																padding: 15px 10px 15px 20px;
															}
	
															span{

																//font: normal 400 em(15) $font1;
														
																//color: #283342;
																color: #212121;
																display: block;
				
																@include to(tablet) {
																	padding-right: 20px;
																}

																/*@include to(tablet) {
																	font-size: em(14);
																	line-height: 19px;
																}*/
			
																
				
															
															}		
	
															sup{
																display: table-cell;
																width: 30px;
																position: static;
																@include to(tablet) {
																	width: 20px;
																}
																&:before {
																	@include icon(10px);
																	content: "\f078";
																	font-size: 14px;
																	position: relative;
																	top:-2px;
																	//color: #2197ae;
																	color: #000000;
																	transform: rotate(270deg);
																	@include transicion(all,0.1s,ease-in,0s);
																	/*@include to(tablet-h) {
																		left: 5px;
																	}
																	@include to(tablet) {
																		left: 10px;
																	}*/
																	@include to(movil) {
																		font-size: 12px;
																	}
																}	
															}
														}
	
														
	
														@include to(movil) {
															font-size: em(13);
														}
														@include from-to(movil,tablet) {
															font-size: em(14);
														}
													}
												}
	
												.image{
													margin-left: 30px;
												}


												.image_desktop{
													display: table;
													margin: 10px auto;
													@include to(movil) {
														display: none;
													}
												}

												.image_movil{
													display: none;
													@include to(movil) {
														display: table;
														margin: 0 auto;
													}
												}

												.tbl1{
													width: 48%;

													@include to(movil) {
														width: 96%;
													}
													
													th{
														padding: 0 15px 15px;
														text-align: center;
														font: normal 600 em(14) $font1;
														//vertical-align: top;
													}
													td{
														padding: 0 15px;
														vertical-align: top;
													}
												}

												.tbl2{
													width: 58%;
													font: normal 400 em(14) $font1;
													color: #4a4a4a;

													@include to(movil) {
														width: 96%;
													}

													th{
														padding: 0 15px 15px;
														text-align: center;
														//vertical-align: top;
													}
													td{
														padding: 0 15px;
														vertical-align: top;
														text-align: center;
													}
												}

												p{
													font: normal 400 em(15) $font1;
													color: #4a4a4a;
													line-height: 20px;
													
													@include to(tablet) {
														font-size: em(14);
														line-height: 19px;
													}

													@include to(movil) {
														font-size: em(13);
														line-height: 18px;
													}

													span{
														display: block;
														margin: 15px 0;
													}

													a{
														color: #2197ae;
														cursor: pointer;
														font-weight: 600;
														&:hover{
															text-decoration: underline;
														}
													}
													

													&.v1{
														display: table;
														//padding-left: 20px;
														vertical-align: middle;
														margin: 2px 0;
														
														&:before {
															@include icon(10px);
															content: "\f111";
															display: table-cell;
															font-size: em(7);
															color: #000000;
															padding-right: 10px;
															position: relative;
															top: -3px;
														}

													}
												}
												
											}
										}

									}
									dt.active{
										&:before{
											content:none;
										}
										header{
											a{
												//background-color: #ffffff;
												background-color: #f08224;
												span{
													color: $color_t1;	
												}
												sup{

													&:before {
														content: "\f078";
														transform: rotate(180deg);
														@include transicion(all,0.1s,ease-out,0s);
													}	
												}
												
											}
										}

										footer{
											opacity: 1;
											height: auto;
											max-height: 1000px;
										}
									}
									dd{
										display: table-cell;
										vertical-align: top;
										width: 20%;
										position: relative;

										@include to(movil) {
											width: 80%;
										}

										h4{
											width: 100%;
											position: absolute;
											top: -30px;
											left: 5px;
											text-align: center;
											font-size: 13px;
											//font-weight: 600;
											//padding: 23px 4.5%;
											@include to(movil) {
												display: none;
											}
										}

										a{
											display: block;
											margin-left: 10%;
											cursor: pointer;
											@include to(movil) {
												display: none;
											}
											figure{
												margin: 0px;
												picture{
													img{
														width: 100%;
														display: block;
													}
												}
											}
										}

										blockquote{
											margin: 4.5% 4.5% 0 4.5%;
											position: relative;
											padding-bottom: 56.25%;
											//padding-bottom: 29.25%;
											padding-top: 25px;
											//height: 0;
											display: none;
											@include to(movil) {
												display: block;
											}

											iframe{
												position: absolute;
												top: 0;
												left: 0;
												width: 100%;
												height: 100%;
											}
										}
									}
								}

							}
						}
					}
				}

			}

		}


	}



	&__modal{
		.page1{
			//@include sombra($x: 0px, $y: 0px, $prop: 0px, $blur: 14px, $r:165, $g:165, $b:165, $alpha: 0.5);
			//width: 100%;
			max-width: 500px;
			margin: auto;
			position:relative;
			padding: 50px;
			background-color: $color_b1;
			border: 3px solid #da160d;
			//@include opacidad(bg, #6e767d, 0.8,claro);
			@include redondeado(10px, 10px, 10px, 10px);

			/*@include to(tablet) {
				max-width: 740px;
			}*/

			@include to(movil) {
				width: auto;
				padding: 100px 20px 20px 20px;
				margin: 0 auto;
				height: calc(100vh);
				//padding: 0px 0px;
				//@include redondeado(0px, 0px, 0px, 0px);
		    overflow-y: auto;
			}

			.section1{
				&__header{
					.title{
						&:before{
							content:'';
							display: block;
							height: 85px;
							background: url("#{$path}/pg1_confirmation.svg") no-repeat center top;
							margin-bottom: 10px;
						}
						//padding-bottom: 10px;
						margin-bottom: 10px;
						h3{
							font: normal 600 em(30) $font1;
							color: #333333;
							text-align: center;
							span{
								font: normal 400 em(10) $font1;
								color: #b1b1b1;
							}
						}
					}
				}
				&__main{
					.content{
						float: none !important;
						p{
							font: normal 400 em(22) $font1;
							color: #555555;
							text-align: center;
						}
					}
				}
				
			}

			&__close{
				position: absolute;
				top:5px;
				right: 5px;
				z-index: 2;
				cursor:pointer;
				width: 48px;
				height: 52px;
				background: url("#{$path}/pg1_closemodal.png") no-repeat center top;
				font: normal em(18) $font1;
				color:white;
				text-indent: -9999px;
				/*@include to(movil) {
					top: -48px;
					right: 0px;
				}*/
				@include to(movil) {
					width: 100%;
					height: auto;
					padding: 8px 0;
					top:0px;
					right:0px;
					text-indent: 0px;
					background: #da272c;
					position: fixed;
					text-align: center;
				}
				@include from-to(movil,tablet-h) {
					//width: 5%;
				}
			}
		}
		.page2{
			//@include sombra($x: 0px, $y: 0px, $prop: 0px, $blur: 14px, $r:165, $g:165, $b:165, $alpha: 0.5);
			//width: 100%;
			max-width: 580px;
			margin: auto;
			position:relative;
			padding: 50px 50px 40px 50px;
			//background-color: $color_b1;
			//border: 3px solid #2197ae;
			//@include opacidad(bg, #6e767d, 0.8,claro);
			@include redondeado(10px, 10px, 10px, 10px);

			//background: url("#{$path}/confeti.svg") no-repeat center center;
			//background-size: cover;
			background-color: #fff;

			@include to(movil) {
				padding: 30px 30px 20px 30px;
			}

			/*@include to(tablet) {
				max-width: 740px;
			}*/

			/*@include to(movil) {
				width: auto;
				padding: 100px 20px 20px 20px;
				margin: 0 auto;
				height: calc(100vh);
				//padding: 0px 0px;
				//@include redondeado(0px, 0px, 0px, 0px);
		    overflow-y: auto;
			}*/

			.section1{
				&__header{
					hgroup{
						text-align: center;
						/*&:before{
							content:'';
							display: block;
							height: 102px;
							background: url("#{$path}/exclamation.svg") no-repeat center top;
							background-size: contain;
							margin: 5px 0 20px;
						}*/
						//padding-bottom: 10px;
						margin-bottom: 10px;
						h3{
							font: normal 500 em(24) $font1;
							color: #333333;
							text-align: center;
							margin-bottom: 20px;
							@include to(movil) {
								font-size: em(20);
							}
							span{
								font: normal 400 em(10) $font1;
								color: #b1b1b1;
							}
						}
						p{
							font: normal 400 em(14) $font1;
							color: #222222;
							line-height: 20px;
							@include to(movil) {
								font-size: em(12);
							}
						}
						a{
							color: #0fbddf;
							&:hover{
								color: #0fbddf;
								text-decoration: underline;
							}
						}
					}
					.info{
						h3{
							font: normal 400 em(20) $font1;
							color: #555555;
							text-align: center;
							strong{
								span{
									color: #da272c;
								}
							}
						}
					}
				}
				&__main{
					.content{
						padding: 20px 0 15px 0;
						a{
							font: normal 300 em(18) $font1;
				      color: $color_t1;
				      text-align: center;
				      background-color: #0fbfdf;
				      padding: 12px 35px 12px 35px;
							//border: 1px solid #ffffff;
							border: none;
							display: table;
							margin: 0 auto;

				      @include redondeado(4px, 4px, 4px, 4px);
							@include transicion(all,0.2s,ease,0s);
							//@include sombra(0px,0px, 1px);

							position: relative;

							&.inactive{
								background-color: #cccccc;
							}
							
							/*@include to(tablet) {
								width: 100%;
							}*/

							/*&:before {
								content: "\f105";
				        @include icon(0px);
				        font-size: 22px;
				        color: $color_b1;
				        position: absolute;
				        top: 15px;
				        right: 35px;
				      }*/
						}
					}
				}
				
			}

			&__close{
				position: absolute;
				top:5px;
				right: 5px;
				z-index: 2;
				cursor:pointer;
				width: 48px;
				height: 52px;
				background: url("#{$path}/pg1_closemodal.png") no-repeat center top;
				font: normal em(18) $font1;
				color:white;
				text-indent: -9999px;
				/*@include to(movil) {
					top: -48px;
					right: 0px;
				}*/
				@include to(movil) {
					width: 100%;
					height: auto;
					padding: 8px 0;
					top:0px;
					right:0px;
					text-indent: 0px;
					background: #da272c;
					position: fixed;
					text-align: center;
				}
				@include from-to(movil,tablet-h) {
					//width: 5%;
				}
			}
		}
	}
}